{{- $env := promptString "Env (personal or work)" -}}
{{- $email := promptString "Email" -}}
{{- $myFullName := promptString "Full name" -}}

[data]
    env = {{ $env | quote }}
    email = {{ $email | quote }}
    myFullName = {{ $myFullName | quote }}
