{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb/base",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
  },
  "rules": {
    // allow console
    "no-console": 0,
    // semicolons on front of lines
    "semi": [
      2,
      "never"
    ],
    // else on next line
    "brace-style": [
      2,
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ],
    // allow returning in an else, stupid rule, would rather ENFORCE it not block it!
    "no-else-return": 0,
    // no using variables before defined; functions are exempt
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    // allow capitalised factory function
    "new-cap": 0,
    // allow no trailing commas in object literals
    "comma-dangle": [
      2,
      "never"
    ],
    // disable checking for whitespace around blocks
    "padded-blocks": 0,
    // Sensible indenting on switch statements
    [2, 4, {"SwitchCase": 1}],
    // tabs
    "indent": [
      2,
      "tab"
    ],
  },
}