[user]
  name = Alasdair Smith
  email = ali@alasdairsmith.co.uk

[core]
  excludesfile = /Users/ali/.bin/dotfiles/.gitignore_global
  pager = delta

[pull]
	rebase = false

[delta]
  line-numbers = true

# [pager]
#   diff = diff-so-fancy | less --tabs=1,5 -RFX
#   show = diff-so-fancy | less --tabs=1,5 -RFX
	# branch = false

# [diff-so-fancy]
# 	markEmptyLines = false
