#!/bin/sh

set -e

brew bundle --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/services"

brew "bat"
brew "chrome-cli"
brew "fzf"
brew "git-delta"
brew "git"
brew "jq"
brew "pick"
brew "postgresql@16", restart_service: true
brew "tldr"
brew "tree"
brew "zsh-completions"
brew "zsh-syntax-highlighting"
brew "zsh"

{{ if eq .env "personal" }}
brew "flyctl"
brew "hugo"
brew "volta"
brew "yt-dlp"
{{ end }}

{{ if eq .env "work" }}
brew "coreutils"
brew "diffutils"
brew "jq"
brew "kubectx"
brew "kubernetes-cli"
brew "nvm"
brew "pipx"
brew "pnpm"
brew "pre-commit"
brew "pyenv"
brew "xz"
brew "yq"
{{ end }}

cask "arc"
cask "dropbox"
cask "fantastical"
cask "firefox"
cask "font-fira-code"
cask "gitup"
{{- if eq .env "personal" }}
# Preinstalled on the work machine
cask "google-chrome"
{{- end }}
cask "iterm2"
cask "jordanbaird-ice"
cask "kap"
cask "keyboardcleantool"
cask "microsoft-edge"
cask "mimestream"
cask "minecraft"
cask "moom"
cask "obsidian"
cask "raycast"
{{- if eq .env "personal" }}
# Preinstalled on the work machine
cask "slack"
{{- end }}
cask "spotify"
cask "sublime-text"
cask "todoist"
cask "visual-studio-code"
cask "vlc"
cask "whatsapp"
cask "zoom"

{{ if eq .env "personal" }}
cask "1password"
cask "1password-cli"
cask "backblaze"
cask "calibre"
cask "tableplus"
{{ end }}

{{ if eq .env "work" }}
cask "docker"
{{ end }}
EOF

# Manual install step
$(brew --prefix)/opt/fzf/install

brew cleanup
