{{- $env := promptString "Env (personal or work)" -}}
{{- $email := promptString "Email" -}}
{{- $fullName := promptString "Full name" -}}

[data]
    env = {{ $env | quote }}
    email = {{ $email | quote }}
    fullName = {{ $fullName | quote }}
